* Global default styles */

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

#canvas {
	position: absolute;
	background: black;
	top: 0;
	left: 0;
}

#display-area {
	position:absolute;
	color:white;
	height:10;
}

