/* Global default styles */

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

/* Format canvas area */
#canvas {
	position: absolute;
	background: black;
	top: 0;
	left: 0;
}

/* Style numeric display area */
#display-area {
	position:absolute;
	color:white;
}

