/* Global default styles */

* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
}

body {
	color:white;
}

p {
	color:white;
}

nav {
	right:3rem;
	position:absolute;
	padding-top:0.8rem;

}

/* Format canvas area */
canvas {
	position: absolute;
	background-color: transparent;
	top: 0;
	left: 0;
}

/* Style numeric display area */
main {
	color:white;
	position:absolute;
	display:block;
	width:100%;
	background-color:blue;
	padding-bottom:0.8rem;
	padding-top:0.8rem;
	padding-left:0.8rem;
}

footer {
	color:white;
	position:absolute;
	display:block;
	width:100%;
	background-color:blue;
	padding-bottom:0.8rem;
	padding-top:0.8rem;
	padding-left:0.8rem;
	bottom: 0;
}

#canvas1 {
	background-color: black;
}
